[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "matplotlib>=3.10.7",
    "networkx>=3.6",
    "plotly>=6.5.0",
    "pyqt5==5.15.10",
    "scipy>=1.16.3",
]
